<div id="movies">

  <% @movies.each do |movie| %>
    <div class="show_movie">
      <%=movie.title %>
      <%=movie.rating %>
      <%=movie.length %>min
      <%= link_to "Get a Ticket", new_movie_show_ticket_path(movie.id, show_id: 1) %>
    </div>  
  <% end %>
</div>