<div id="movies">

  <% @movies.each do |movie| %>
    <div class="show_movie">
      <%=movie.title %>
      <%=movie.rating %>
      <%=movie.length %>min
      <%= link_to "Get a Ticket", new_ticket_path %>
    </div>  
  <% end %>
</div>