<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Receipt for the movie ticket</h1>

    <div>
      <%= @ticket.first_name %>
      <%= @ticket.last_name %>
      <%= @ticket.email_address %>
    </div>

  </body>
</html>